<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>METRA_API_PASSWORD</key>
	<string>$(METRA_API_PASSWORD)</string>
	<key>METRA_API_USERNAME</key>
	<string>$(METRA_API_USERNAME)</string>
</dict>
</plist>
